In [28]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [29]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [30]:
pip install catboost

Requirement already satisfied: catboost in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (1.2.8)
Requirement already satisfied: graphviz in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from catboost) (0.21)
Requirement already satisfied: matplotlib in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from catboost) (3.9.2)
Requirement already satisfied: numpy<3.0,>=1.16.0 in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from catboost) (1.26.4)
Requirement already satisfied: pandas>=0.24 in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from catboost) (2.2.2)
Requirement already satisfied: scipy in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from catboost) (1.13.1)
Requirement already satisfied: plotly in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from catboost) (5.24.1)
Requirement already satisfied: six in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from pandas>=0.24->catboost) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from matplotlib->catboost) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from matplotlib->catboost) (24.1)
Requirement already satisfied: pillow>=8 in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from matplotlib->catboost) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from matplotlib->catboost) (3.1.2)
Requirement already satisfied: tenacity>=6.2.0 in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from plotly->catboost) (8.2.3)
Note: you may need to restart the kernel to use updated packages.

In [31]:
pip install xgboost

Requirement already satisfied: xgboost in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (3.0.4)
Requirement already satisfied: numpy in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in /Users/ompohekar/Desktop/anaconda3/lib/python3.12/site-packages (from xgboost) (1.13.1)
Note: you may need to restart the kernel to use updated packages.

In [33]:
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings
warnings.filterwarnings('ignore')

In [34]:
df=pd.read_csv('stud.csv')

In [35]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [36]:
##X and y variables
X=df.drop(columns=['math_score'],axis=1)

In [37]:
y=df['math_score']

In [38]:
X.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [39]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math_score, Length: 1000, dtype: int64

In [40]:
##create column transformer with 3 types of transformer
num_features=X.select_dtypes(exclude='object').columns
cat_features=X.select_dtypes(include='object').columns

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

num_tranformer=StandardScaler()
oh_transformer=OneHotEncoder()

preprocessor=ColumnTransformer(
    [
        ("OneHotEncoder",oh_transformer,cat_features),
        ("StandardScaler",num_tranformer,num_features),
    ]
)

In [44]:
x=preprocessor.fit_transform(X)

In [47]:
x

array([[ 1.        ,  0.        ,  0.        , ...,  1.        ,
         0.19399858,  0.39149181],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         1.42747598,  1.31326868],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.77010859,  1.64247471],
       ...,
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.12547206, -0.20107904],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.60515772,  0.58901542],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.15336989,  1.18158627]])

In [46]:
x.shape

(1000, 19)

In [49]:
###train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [50]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((800, 19), (200, 19), (800,), (200,))

In [62]:
##create an evaluate function to give all metrics after model training
def evaluate_model(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted) 
    rmse =np.sqrt(mean_squared_error(true,predicted))
    r2_square= r2_score(true,predicted)
    return mae,mse,rmse,r2_square

In [77]:
models= {
    "LinearRegression":LinearRegression(),
    "Ridge":Ridge(),
    "Lasso":Lasso(),
    "K-Neighbors Regressor":KNeighborsRegressor(),
    "Decision tree":DecisionTreeRegressor(),
    "Random Forest Regressor":RandomForestRegressor(),
    "XGBRegressor":XGBRegressor(),
    "Catboosting Regressor":CatBoostRegressor(),
    "AdaBoosting Regressor":AdaBoostRegressor()
 }
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model= list(models.values())[i]
    model.fit(x_train,y_train)

    ##make predictions
    y_train_pred=model.predict(x_train)
    y_test_pred=model.predict(x_test)

    ##evaluate train and test dataset
    model_train_mae,model_train_rmse,model,model_train_r2=evaluate_model(y_train,y_train_pred)
    model_test_mae,model_test_rmse,model,model_test_r2=evaluate_model(y_test,y_test_pred)
    
    print(list(models.keys())[i])
    model_list.append(list(model.keys())[i])


    print('Model Performance for training set')
    print(" - root mean squared error : {:.4f}".format(model_train_rmse))
    print(" - mean absolute error : {:.4f}".format(model_train_mae))
    print(" r2 score : {:.4f}".format(model_train_r2))

    print("--------------------------------------------------------")

    print('Model Performance for test set')
    print(" - root mean squared error : {:.4f}".format(model_test_rmse))
    print(" - mean absolute error : {:.4f}".format(model_test_mae))
    print(" r2 score : {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)

    print('=' *35)
    print('\n')

TypeError: 'str' object is not callable